<div style="background-color: cadetblue; color: royalblue">
    Welcome to this page {{ userName }}
    Your cars - {{ userCars }}
    <a href="http://localhost:5000/test">Click to find users</a>
</div>