<div style="background-color: #4ca95c; text-align: center">
     Welcome guys, here you can do the following things: <br>
    <a style="color: black" href="http://localhost:5000/users">1. Here is all users</a> <br>
    2. Change url - /users/IdUser if you want to look at one user <br>
    <a style="color: black" href="http://localhost:5000/cars">3. Here is all cars</a> <br>
    4. Change url - /cars/IdCar if you want to look at one car <br>
    5. Change url - /welcome to come back on this page <br> <br>

    <h1 style="border: 1px solid black">It was made by {{ ownerName }}
        {{ ownerLastName }} who is {{ ownerAge }} years old</h1>
</div>