doctype html
html
    head
        body
            div You can take your car in our office on Address: San-Francisco, 49th street, BMW

            block content
            div Buy second car and get discount 20 %

            a(href=frontEndUrl) Click to watch masterpiece