doctype html
html
    head
        body
            block content

            h2 Ladies and gentelmen buy everything what you see

            div Random fact : All clocks in Pulp Fiction are set to 4:20.
            | people state that there are two scenes where the clocks
            | are not set to this. Watch the movie to figure out which scenes they were.